---
// Redirect to Spanish version
return Astro.redirect('/es/projects/');
---

<Layout title={`${t.projects.title}`} description={t.projects.subtitle}>
  <div class="max-h-[calc(100vh-80px)] overflow-y-auto">
    <Section id="projects" title={t.projects.title} subtitle={t.projects.subtitle}>
    <div>
      {projectsData.map((project) => (
        <ProjectCard
          title={project.title}
          description={project.description}
          image={project.image}
          tech={project.tech}
          year={project.year}
          url={project.url}
        />
      ))}
    </div>
  </Section>
  </div>

  <BottomNav currentLang={currentLang} currentPage="projects" />
</Layout>