---
// Redirect to Spanish version
return Astro.redirect('/es/research/');
---
---

<Layout title={`${t.research.title}`} description={t.research.subtitle}>
  <div class="max-h-[calc(100vh-80px)] overflow-y-auto">
    <Section id="research" title={t.research.title} subtitle={t.research.subtitle}>
    <div>
      {researchData.map((article) => (
        <ArticleCard
          title={article.title}
          summary={article.summary}
          date={article.date}
          url={article.url}
          type={article.type}
        />
      ))}
    </div>
  </Section>
  </div>

  <BottomNav currentLang={currentLang} currentPage="research" />
</Layout>